@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../Poppins/Poppins-Regular.ttf");
    src: url("../Poppins/Poppins-Regular.ttf") format("ttf");
}

h1, h2, h3, h4, h5, p {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: auto;
    width: auto;
    background-image: url('../img/backgrounds/h_img.jpg');
}

.amaze {
    font-weight: 600;
}

.display-3, .display-5, .display-6 {
    font-family: "Lora", sans-serif;
    color: #003b4e;
    font-weight: 600;
}

.text {
    color: #fff;
    margin-top: 400px;
    font-family: "Poppins", sans-serif;
}

.mouse {
    text-align: center;
    margin-top: 50px;
    padding: 80px;
    cursor: pointer;;
}


.about-content {
    padding: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #000e13;
}

.service-area {
    height: auto;
    width: auto;
    background-image: url('../img/backgrounds/s_image.jpg');
    background-repeat: no-repeat;
    color: #fff;
    padding: 150px;
    font-size: 20px;
    font-weight: 600;
}

.what-section {
    font-size: 20px;
}

.image1 {
    cursor: pointer;
}


.gallery img {
    width: 350px;
    box-shadow: 3px 3px 40px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: relative;
    background: #ecf0f1;
    transition: 0.3s ease-in-out;
    margin-left: 3em;
  }

  .gallery img:hover {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
  }

  .gallery figcaption {
    position: absolute;
    font-size: 30px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin-left: 1.8em;
    margin-top: 0.5em;
    transition: all linear 0.25s;
  }
  
