@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../Poppins/Poppins-Regular.ttf");
    src: url("../Poppins/Poppins-Regular.ttf") format("ttf");
}

h1, h2, h3, h4, h5, p {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: auto;
    width: auto;
    background-image: url('../img/backgrounds/h_img.jpg');
}

.amaze {
    font-weight: 600;
}

.display-3 {
    font-family: "Lora", sans-serif;
    color: #fff;
    font-weight: 600; 
}

.display-5, .display-6 {
    font-family: "Lora", sans-serif;
    color: #d28a50;
    font-weight: 600;
}

.text {
    color: #fff;
    margin-top: 400px;
    font-family: "Poppins", sans-serif;
}

.mouse {
    text-align: center;
    margin-top: 50px;
    padding: 80px;
    cursor: pointer;;
}


.about-content {
    padding: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #000e13;
}

.service-area {
    height: auto;
    width: auto;
    background-image: url('../img/backgrounds/s_image.jpg');
    background-repeat: no-repeat;
    color: #fff;
    padding: 150px;
    font-size: 20px;
    font-weight: 600;
}

.text-click {
    display: none;
}

.what-section {
    font-size: 20px;
}

.image1 {
    cursor: pointer;
}


.gallery img {
    width: 350px;
    box-shadow: 3px 3px 40px 0 rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: relative;
    background: #ecf0f1;
    transition: 0.3s ease-in-out;
    margin-left: 3em;
  }

  .gallery img:hover {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
  }

  .gallery figcaption {
    position: absolute;
    font-size: 30px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin-left: 1.8em;
    margin-top: 0.5em;
    transition: all linear 0.25s;
  }

  .contact-area {
      background-image: url('../img/backgrounds/c_image.jpg');
      background-repeat: no-repeat;
      height: 600px;
      width: auto;
      color: #fff;
      padding: 50px;
      margin-top: 4em;
  }

  .transparent {
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
  }

  .form-control::-webkit-input-placeholder {
      color: #fff;
      font-weight: 500;
  }

  .social-icons img {
      margin: 5px;
      cursor: pointer;
  }

  .social-icons img:hover {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
  }

  .copy {
      font-weight: 600;
  }

  .btn-secondary {
      margin: 20px;
  }

  .pageup {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #d28a50;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}

.pageup:hover {
    color: #fff;
}



